.payment-cardBody{
    text-align: center;
}
.payment-card{
    max-width: 980px;
     margin: auto ;
}
.payment-saveButton{
    width: 150px;
}

.custom-btn-success {
    background-color: #014D2F !important; /* Set button background color to #014D2F */
    border-color: #014D2F !important; /* Set button border color to #014D2F */
    color: #fff !important; /* Set button text color to white */
}

.custom-btn-danger {
    background-color: #014D2F !important; /* Set button background color to #014D2F */
    border-color: #014D2F !important; /* Set button border color to #014D2F */
    color: #fff !important; /* Set button text color to white */
}


.interest-title{
    text-align: center;
}
